<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Columbia Coast Insurance</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="container body-content">
        <header>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <button class="btn-success btn-sm col-1" type="submit">Home</button>
            }
    </header>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Columbia Coast Insurance</p>
            @using (Html.BeginForm("Admin", "Home", FormMethod.Get))
            {
                <button class="btn-success btn-sm col-1" type="submit">Admin</button>
            }

        </footer>
        @*</div>*@

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
